@model List<CreateTicketViewModel>
<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.Action("AllTickets", "Tickets")">All Tickets</a>
    </li>
</ol>

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-credit-card"></i>
        All Tickets
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped display" id="dataTable">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Created</th>
                        <th>Updated</th>
                        <th>Project</th>
                        <th>Creater</th>
                        <th>Assignee</th>
                        <th>Type</th>
                        <th>Priority</th>
                        <th>Status</th>
                        <th>
                            Edit/ Del/
                            @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                            {
                                <i>Assign</i>
                            }
                        </th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Title</th>
                        <th>Created</th>
                        <th>Updated</th>
                        <th>Project</th>
                        <th>Creater</th>
                        <th>Assignee</th>
                        <th>Type</th>
                        <th>Priority</th>
                        <th>Status</th>
                        <th>
                            Edit/ Del/
                            @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                            {
                                <i>Assign</i>
                            }
                        </th>
                    </tr>
                </tfoot>
                <tbody class="text-primary">
                    @foreach (var ticket in Model)
                    {
                        <tr>
                            <td><a class="text-info alert-link" href="@Url.Action("Details", "Tickets", new { ticketId = ticket.Id })">@ticket.Title</a></td>
                            <td>@ticket.DateCreated</td>

                            @if (string.IsNullOrEmpty(ticket.DateUpdated.ToString()))
                            {
                                <td>never</td>
                            }
                            else
                            {
                                <td>@ticket.DateUpdated</td>
                            }
                            <td>@ticket.ProjectName</td>
                            <td>@ticket.CreatedByName</td>
                            <td>@ticket.AssignedToName</td>
                            <td>@ticket.TypeName</td>
                            <td>@ticket.PriorityName</td>
                            <td>@ticket.StatusName</td>
                            <td>
                                <a href="@Url.Action("EditTicket", "Tickets", new { ticketId = ticket.Id})"><i class="fas fa-wrench"></i></a> <a href="@Url.Action("DeleteTicket", "Tickets", new { ticketId = ticket.Id})"><i class="fas fa-trash ml-4"></i></a>
                                @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                                {
                                    <a href="@Url.Action("AllUsersForTickets", "Users", new { id = ticket.Id})"><i class="fas fa-user-plus ml-4"></i></a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>