@model List<TicketViewModel>
<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.Action("MyTickets", "Tickets")">My Tickets</a>
    </li>
</ol>

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-credit-card"></i>
        My Tickets
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped display" id="dataTable">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Created</th>
                        <th>Updated</th>
                        <th>Project</th>
                        <th>Created by</th>
                        <th>Assigned To</th>
                        <th>Type</th>
                        <th>Priority</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Title</th>
                        <th>Created</th>
                        <th>Updated</th>
                        <th>Project</th>
                        <th>Created by</th>
                        <th>Assigned To</th>
                        <th>Type</th>
                        <th>Priority</th>
                        <th>Status</th>
                    </tr>
                </tfoot>
                <tbody class="text-primary">
                    @foreach (var ticket in Model)
                    {
                    <tr>
                        <td><a class="text-info alert-link" href="@Url.Action("Details", "Tickets", new { ticketId = ticket.Id })">@ticket.Title</a></td>
                        <td>@ticket.DateCreated</td>

                        @if (string.IsNullOrEmpty(ticket.DateUpdated.ToString()))
                        {
                            <td>never</td>
                        }
                        else
                        {
                            <td>@ticket.DateUpdated</td>
                        }
                        <td>@ticket.ProjectName</td>
                        <td>@ticket.CreatedByName</td>
                        <td>@ticket.AssignedToName</td>
                        <td>@ticket.TypeName</td>
                        <td>@ticket.PriorityName</td>
                        <td>@ticket.StatusName</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>